/TRANSVERSE/.svn
/TRANSVERSE/.settings
/TRANSVERSE/sqlPatterns
/TRANSVERSE/pom.xml
/TRANSVERSE/recycle_bin.index
/TRANSVERSE/talend.project
/TRANSVERSE/.project
/TRANSVERSE/assembly.xml
/TRANSVERSE/migration.log
/RH/assembly.xml
/RH/migration.log
/RH/pom.xml
/RH/recycle_bin.index
/RH/talend.project
/RH/.settings
/RH/.svn
/RH/sqlPatterns
/RH/.project
/SOLIDARITE/migration.log
/SOLIDARITE/pom.xml
/SOLIDARITE/recycle_bin.index
/SOLIDARITE/talend.project
/SOLIDARITE/.settings
/SOLIDARITE/.svn
/SOLIDARITE/sqlPatterns
/SOLIDARITE/.project
/SOLIDARITE/assembly.xml
/TECHNIQUE/migration.log
/TECHNIQUE/pom.xml
/TECHNIQUE/recycle_bin.index
/TECHNIQUE/talend.project
/TECHNIQUE/.settings
/TECHNIQUE/.svn
/TECHNIQUE/sqlPatterns
/TECHNIQUE/.project
/TECHNIQUE/assembly.xml
/TRANSPORT/migration.log
/TRANSPORT/pom.xml
/TRANSPORT/recycle_bin.index
/TRANSPORT/talend.project
/TRANSPORT/.settings
/TRANSPORT/.svn
/TRANSPORT/sqlPatterns
/TRANSPORT/temp
/TRANSPORT/.project
/TRANSPORT/assembly.xml
/FRAMEWORK/sqlPatterns
/FRAMEWORK/.project
/FRAMEWORK/assembly.xml
/FRAMEWORK/migration.log
/FRAMEWORK/pom.xml
/FRAMEWORK/talend.project
/FRAMEWORK/.settings
/FRAMEWORK/.svn
/FINANCE/assembly.xml
/FINANCE/migration.log
/FINANCE/pom.xml
/FINANCE/recycle_bin.index
/FINANCE/talend.project
/FINANCE/.settings
/FINANCE/.svn
/FINANCE/.svnlog
/FINANCE/sqlPatterns
/FINANCE/.project
/.metadata
.Java
.JETEmitters
/TALEND/migration.log
/TALEND/pom.xml
/TALEND/recycle_bin.index
/TALEND/talend.project
/TALEND/.settings
/TALEND/.svn
/TALEND/documentations
/TALEND/joblets
/TALEND/sqlPatterns
/TALEND/.project
/TALEND/assembly.xml
.metadata
